body {
    background-color: rgb(141, 230, 233);
}
h1{
    color: white;
    font-size: 21px;
}
header{
    background-color:blue;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 5px;
    padding: 1em;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    list-style: none;
    width: 250px;
    color: blue;
    font-size: 22px;
}

.navbar:hover{
    background-color: rgb(70, 84, 236);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgb(70, 84, 236);
    color: white;
}

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
    grid-gap: 10px;     
    grid-auto-rows: minmax(100px, auto);
}

article{
    background-color: rgba(255, 255, 255, 0.774);
    margin: 5px;
    padding: 1em;
    border: 2px solid white;
    border-radius: 10px;
    width: 1fr;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: blue;
    margin: 5px;
    padding: 1em;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    color: white;
}
#avis{
    text-decoration: none;
    color: white;
}

#avis:hover{
    background-color: white;
    color: blue;
}

button{
    background-color: blue;
    margin: 5px;
    padding: 1em;
    border: 2px solid white;
    border-radius: 10px;
}

@media (width <= 500px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100px;
        color: blue;
        font-size: 16px;
    }
    
    .navbar:hover{
        background-color: white;
    }
  }

.selected {
    background-color: yellow;
    /* Mettez la couleur que vous souhaitez pour indiquer la sélection */
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    max-width: 500px;
    min-width: 400px;
}

.response-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.question-title {
    text-align: center;
}

.question-label {
    display: block;
    margin-bottom: 5px;
}

/* CSS pour masquer les questions par défaut */
.question-hidden {
    display: none;
}

/* CSS pour les boutons de navigation */
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.quizForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}