body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.QuizImg{
    height:15vh;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.description {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.start-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.start-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media queries */
@media screen and (min-width: 768px) {
    main {
        max-width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 60%;
    }
}

@media screen and (max-width: 767px) {
    main {
        max-width: 90%;
    }

    .description {
        padding: 10px;
        font-size: 16px;
    }

    .start-button {
        font-size: 16px;
        width: 100%;
    }

    footer {
        position: relative;
    }


    .close {
        font-size: 24px;
    }

    .modal-content {
        width: 90%;
    }
}